form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
.content {
  margin-bottom: 20px;
}

.warning {
  color: #dd0000;
}

.form-result {
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold;
    display: inline-block;
  }
  .results-list {
    .results-list__result {
      margin-bottom: 5px;
      color: #444;
    }
  }
}
