<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>

  <body>
    <header>
      <h1>Plan your next trip!</h1>
    </header>

    <main>
      <section class="content">
        <form onsubmit="return Client.handleSubmit(event)">
          <label for="destination">Travel destination</label>
          <input
            id="city"
            type="text"
            name="destination"
            value=""
            placeholder="Travel destination"
          />
          <label for="date">Arrival date</label>
          <input type="date" id="date" name="date" value="" />
          <input
            type="submit"
            name=""
            value="Submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="form-result">
        <h2>Results:</h2>
        <div id="results">
          <div id="results__destination"></div>
          <div id="results__countdown"></div>
          <div id="results__forecast"></div>
          <div id="results__photo"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>Udacity Front End Program Assignment completed by Yuliya Svist</p>
    </footer>
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
