<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4: Language Processing App</title>
  </head>

  <body>
    <header>
      <h1>Process the language used by a webpage</h1>
    </header>

    <main>
      <section class="content">
        <form onsubmit="return Client.handleSubmit(event)">
          <label for="title">Webpage to analyze</label>
          <input
            id="website"
            type="text"
            name="input"
            value=""
            placeholder="Enter URL here"
          />
          <input
            type="submit"
            name=""
            value="Submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="form-result">
        <h2>Results:</h2>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>Udacity Front End Program Assignment completed by Yuliya Svist</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
